BCRYPT_COST=12
SQLITE_DATABASE=./database.sqlite
JWT_SECRET=super_secret_jwt_key
JWT_EXPIRES_SEC=3600

# Configuración para el servicio de correo electrónico
RESEND_API_KEY=re_xxx
MAIL_FROM=noreply@infrabyteinformatica.com.ar
FRONT_URL=http://localhost:4200
RESET_TOKEN_EXPIRES_MIN=15